<router-outlet>
</router-outlet>

<!-- FAB Buttons -->
<button md-fab color="primary">
  <md-icon>add</md-icon>
</button>
<button md-mini-fab color="accent">
  <md-icon>add</md-icon>
</button>
<!--
<ul>
    <li *ngFor="let material of materiais" >
        {{material.nome}}
    </li>
</ul>
!-->
<md-card tdMediaToggle="gt-xs" [mediaClasses]="['push']">
    <md-card-title>Logs</md-card-title>
    <md-divider></md-divider>
    <!--
        <td-data-table [data]="materiais" [columns]="columns">
            <template tdDataTableTemplate="type" let-value="value" let-row="row" let-column="column">
                <div layout="row">
                    <span flex>{{value}}</span> // or <span flex>{{row[column]}}</span>
                    <md-icon>star</md-icon>
                </div>
            </template>
        </td-data-table>
        !-->
    <template tdLoading="page.load" tdLoadingType="circular" tdLoadingMode="indeterminate" tdLoadingStrategy="replace" tdLoadingColor="primary">
        <table td-data-table>
            <th td-data-table-column *ngFor="let column of columns">
                {{column.label}}
            </th>
            <tr td-data-table-row *ngFor="let row of page.content">
                <td td-data-table-cell *ngFor="let column of columns">
                    {{row[column.name]}}
                </td>
            </tr>
        </table>
    </template>
</md-card>